<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/app}" th:with="
    title='Sign In',
    content=~{this::.section},
    authError=${statusCode != null && statusCode.getCode() == 1}
">

<div class="section">
    <div class="section__header">
        <h1>Sign In</h1>
    </div>
    <div class="section__main">
        <form class="form" th:action="@{${routes.LOGIN}}" method="POST">
            <div class="form__group">
                <label class="form__label" for="username">Email or Username</label>
                <input class="form__input" type="text" placeholder="Email or Username" name="username"
                    th:value="${username}">
            </div>
            <div class="form__group">
                <label class="form__label" for="password">Password</label>
                <input class="form__input" type="password" placeholder="Password" name="password">
            </div>
            <a th:href="@{${routes.PASSWORD_RESET}}" class="link">
                Forgot your password?
            </a>
            <p class="form__error" th:if="${authError}" th:text="#{login.error}"></p>
            <button class="btn form__submit-btn" type="submit">
                <div class="btn__label">Sign in</div>
            </button>
        </form>
    </div>
</div>

</html>