<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/app}" th:with="
    title='Password Reset',
    content=~{this::.section},
">

    <section class="section">
        <header class="section__header">
            <div class="logo logo--l">
                <svg class="icon icon--xl">
                    <use href="#logo"></use>
                </svg>
                <p>Gundi</p>
            </div>
        </header>
        <div class="section__main">
            <p>
                Please enter your primary email address.
            </p>
            <form class="form" th:action="@{${routes.auth_password_reset}}" method="POST">
                <div class="form__group">
                    <label class="form__label" for="email">Email</label>
                    <input class="form__input" type="text" th:name="email">
                </div>
                <button class="btn form__submit-btn" type="submit">
                    <div class="btn__label">Reset Password</div>
                </button>
            </form>
        </div>
    </section>
</th:block>

</html>