<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/app}" th:with="
    title='Password Reset',
    content=~{this::.section}
">

<section class="section">
    <header class="section__header">
        <div class="logo logo--l">
            <svg class="icon icon--xl">
                <use href="#logo"></use>
            </svg>
        </div>
        <h1 class="section__headline">Change your password</h1>
    </header>
    <div class="section__main">
        <form class="form" th:action="@{${routes.PASSWORD_RESET_SUBMIT}}" method="POST" th:object="${apiResponse}">
            <input type="hidden" name="token" th:field="*{token}">
            <div class="form__group">
                <label class="form__label" for="password">Password</label>
                <input class="form__input" type="password" placeholder="Password" name="password"
                    th:field="*{password}">
                <small class="form__error" th:if="${#fields.hasErrors('password')}">
                    <pre th:errors="*{password}"></pre>
                </small>
            </div>
            <div class="form__group">
                <label class="form__label" for="password">Password Confirm</label>
                <input class="form__input" type="password" placeholder="Password Confirm" name="passwordConfirm"
                    th:field="*{passwordConfirm}">
                <small class="form__error" th:if="${#fields.hasErrors('passwordConfirm')}">
                    <pre th:errors="*{password}"></pre>
                </small>
            </div>
            <button class="btn form__submit-btn" type="submit">
                <div class="btn__label">Change your password</div>
            </button>
        </form>
    </div>
</section>

</html>