<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>

<body>
    <table class="email" role="presentation" cellpadding="0" cellspacing="0" width="600" align="center"
        style="border-collapse: collapse; max-width: 600px; width: 100%; padding: 10px; height: 100%;">
        <tr>
            <td align="center" style="padding: 5px; color: navy">
                <div class="email__icon email__icon--main-logo">
                    <img th:src="${logoUrl}" width="70" height="70" alt="Logo" style="display:block; color: navy;">
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px; font-size: 20px;">
                <h2 class="email__headline">Hello <th:block th:text="${username}"></th:block>!
                </h2>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px; font-size: 17px;">
                <p class="email__info">
                    Someone, hopefully you, has requested to reset the password for your
                    Gundi account at <a th:href="${siteUrl}">
                        <th:block th:text="${siteUrl}"></th:block>
                    </a>.
                    <br>
                    If you did not preform this request, you can safely ignore this email.
                    Otherwise follow the link below to complete the process.
                </p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px; font-size: 30px; ">
                <div class="email__verification-token"
                    style="padding: 10px; background-color: lightgray; width: fit-content; border-radius: 3px;">
                    <a th:href="${token}">Reset Password</a>
                </div>
            </td>
        </tr>
    </table>
</body>

</html>