<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/app}" th:with="
    title='Password Reset',
    content=~{this::.section},
">
    <section class="section">
        <header class="section__header">
            <div class="logo logo--l">
                <svg class="icon icon--xl">
                    <use href="#logo"></use>
                </svg>
            </div>
            <h1 class="section__headline">Change your password</h1>
        </header>
        <div class="section__main">
            <form class="form" th:action="@{${routes.password_reset_submit}}" method="POST">
                <div class="form__group">
                    <label class="form__label" for="password">New Password</label>
                    <input class="form__input" type="password">
                </div>
                <div class="form__group">
                    <label class="form__label" for="passwordConfirm">Confirm New Password</label>
                    <input class="form__input" type="password">
                </div>
                <button class="btn form__submit-btn" type="submit">
                    <div class="btn__label">Change your password</div>
                </button>
            </form>
        </div>
    </section>
</th:block>

</html>