<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/app :: app(title='Sign up', content=~{::content})}">

<div th:fragment="content">
    <form class="form" th:action="@{/auth/register}" method="POST">
        <div class="form__group">
            <label class="form__label" for="email">Email address</label>
            <input class="form__input" type="email" placeholder="Email address" name="email">
        </div>
        <div class="form__group">
            <label class="form__label" for="password">Password</label>
            <input class="form__input" type="password" placeholder="Password" name="password">
        </div>
        <div class="form__group">
            <label class="form__label" for="fullname">Full name</label>
            <input class="form__input" type="fullname" placeholder="Full name" name="fullname">
        </div>
        <div class="form__group">
            <label class="from__label" for="username">Username</label>
            <input class="form__input" type="username" placeholder="Username" name="username">
        </div>
        <button class="btn form__submit-btn" type="submit">
            <div class="btn__label">Sign up</div>
        </button>
    </form>
</div>

</html>