<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{fragments/app}" th:with="
    title='Verification',
    content=~{this::.app__main-content}
">

<div class="app__main-content">
    <h1>
        <svg class="icon">
            <use href="#logo"></use>
        </svg>
        <p class="btn__label">Gundi</p>
    </h1>
    <h2>Help us protect your account</h2>
    <p>
        You are signed in as <th:block th:text="${username}"></th:block>. For added
        security, you will need to verify your identity. We have sent a verification
        code to <th:block th:text="${email}"></th:block>
    </p>
    <form class="form" th:action="@{${routes.verification}}" method="POST">
        <div class="form__group">
            <label class="form__label" for="token">Verification code</label>
            <input class="form__input" type="text" name="token">
        </div>
        <p>
            Didn't get the code? <a href="">Resend code</a>
        </p>
        <button class="btn form__submit-btn" type="submit">
            <div class="btn__label">Verify code</div>
        </button>
    </form>
</div>

</html>