<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Email</title>
</head>

<body>
    <table class="email" role="presentation" cellpadding="0" cellspacing="0" width="600" align="center"
        style="border-collapse: collapse; max-width: 600px; width: 100%; padding: 10px; height: 100%;">
        <tr>
            <td align="center" style="padding: 5px; color: navy">
                <div class="email__icon email__icon--main-logo">
                    <img th:src="${logoUrl}" width="70" height="70" alt="Logo" style="display:block; color: navy;">
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px; font-size: 20px;">
                <h2 class="email__headline">Help us protect your account</h2>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px; font-size: 17px;">
                <p class="email__info">
                    Before you finish creating your account, we need to verify your identity.
                    On the verification page enter the following code.
                </p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px; font-size: 30px; ">
                <div class="email__verification-token"
                    style="padding: 10px; background-color: lightgray; width: fit-content; border-radius: 3px;">
                    <th:block th:utext="${verificationToken}">123456</th:block>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 5px; font-size: 15px;">
                <p class="email__warning">
                    Your verification code expires after 15 minutes.
                </p>
                <p class="email__warning">
                    You must confirm your email within 3 days of signing up.
                    If you do not confirm your email in this timeframe,
                    your account will be deleted and you will need to sign up again.
                </p>
            </td>
        </tr>
    </table>
</body>

</html>