<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/emails.css">
    <style th:utext="${inlineCss}"></style>
</head>

<body>
    <div class="email">
        <div class="email__icon email__icon--main-logo">
            <svg viewBox="0 0 24 24">
                <path d="M4 4h10.4M20 9.6v10.4H4V4" />
                <text x="12" y="12" text-anchor="middle" dominant-baseline="central" fill="currentColor" font-size="9"
                    font-family="sans-serif" font-weight="300">Г</text>
                <line x1="18.5" y1="4" x2="21.5" y2="4" />
                <line x1="20" y1="2.5" x2="20" y2="5.5" />
            </svg>
        </div>
        <h2 class="email__headline">Help us protect your account</h2>
        <p class="email__info">
            Before you finish creating your account, we need to verify your identity. <br>
            On the verification page enter the following code.
        </p>
        <div class="email__verification-token">
            <th:block th:utext="${verificationToken}">123456</th:block>
        </div>
        <p class="email__warning">
            Your verification code expires after 15 minutes.
        </p>
        <p class="email__warning">
            You must confirm your email within 3 days of signing up. <br>
            If you do not confirm your email in this timeframe, <br>
            your account will be deleted and you will need to sign up again.
        </p>
    </div>
</body>

</html>