<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="${title} ?: 'Gundi'"></title>

    <link rel="stylesheet" th:href="@{/css/components.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script th:src="@{/js/main.js}" defer></script>

    <th:block th:if="${headExtra != null}">
        <th:block th:replace="${headExtra}"></th:block>
    </th:block>
</head>

<body>
    <div id="icons" style="display: none;" th:insert="~{fragments/icons}"></div>

    <div class="app app--dark-mode app--sidebar-expanded">
        <div th:insert="~{fragments/header}" class="app__header"></div>

        <div th:insert="~{fragments/sidebar}" class="app__sidebar"></div>

        <div class="app__workspace">
            <div class="box box--full-width">
                <p class="text text--danger">Hello world</p>
            </div>
            <main class="app__main">
                <th:block th:if="${content != null}">
                    <th:block th:replace="${content}"></th:block>
                </th:block>

                <th:block th:if="${content == null}">
                    <h1>Error, content not available!</h1>
                </th:block>
            </main>
        </div>
    </div>
</body>

</html>