<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="app__workspace" th:fragment="workspace(content)">
    <main class="workspace__main">
        <th:block th:if="${content != null}">
            <th:block th:replace="${content}"></th:block>
        </th:block>

        <th:block th:if="${content == null}">
            <p>Main</p>
        </th:block>
    </main>

    <footer class="workspace__footer">
        <address>
            <ul class="list">
                <li class="list__item">
                    <a class="btn" href="">
                        <svg class="icon" viewBox="0 0 24 24">
                            <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7" />
                            <rect x="2" y="4" width="20" height="16" rx="2" />
                        </svg>
                        <div class="btn__label">gundi-support@gmail.com</div>
                    </a>
                </li>
                <li class="list__item">
                    <a class="btn" href="tel:+359123456789">
                        <svg class="icon" viewBox="0 0 24 24">
                            <path
                                d="M13.832 16.568a1 1 0 0 0 1.213-.303l.355-.465A2 2 0 0 1 17 15h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2A18 18 0 0 1 2 4a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-.8 1.6l-.468.351a1 1 0 0 0-.292 1.233 14 14 0 0 0 6.392 6.384" />
                        </svg>
                        <div class="btn__label">+359 123 456 789</div>
                    </a>
                </li>
                <li class="list__item">
                    <div class="btn">
                        <svg class="btn__icon icon" viewBox="0 0 24 24">
                            <path
                                d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                            <circle cx="12" cy="10" r="3" />
                        </svg>
                        <div class="btn__label">
                            ул. „Панайот Хитов“ № 62 <br>
                            6000 Стара Загора <br>
                            България
                        </div>
                    </div>
                </li>
            </ul>
        </address>
    </footer>
</div>

</html>