.email {
    text-align: center;
}

.email__icon {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    height: 50px;
    width: 50px;
}

.email__icon--main-logo {
    height: 70px;
    width: 70px;
}

.email__info {
    font-size: 18px;
}

.email__verification-token {
    font-size: 20px;
    padding: 20px;
    background-color: lightgrey;
    width: fit-content;
}

.email__warning {
    font-size: 15px;
}