.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__group {
    display: flex;
    align-items: center;
}

.header__group--center {
    flex: 1;
    justify-content: center;
}