* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: inherit;
    color: inherit;
}

.app {}

.app__header {}

.app__workspace {}

.app__main {}

.app__footer {}