<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/app :: app(title='Root User Panel', content=~{::content})}">

<div th:fragment="content" sec:authorize="hasRole('ROOT')">
    <h2>Root User Panel</h2>

    <div>
        <h2>Testing</h2>
        <p th:if="${message != null}" th:text="${message}">
        </p>
        <nav>
            <ul class="list">
                <li class="list__item">
                    <a class="btn" th:href="@{${test_routes.send_email}}">
                        <svg class="btn__icon icon">
                            <use href="#flask"></use>
                        </svg>
                        <span class="btn__label">Send Email</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</html>