<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:insert="~{fragments/app}" th:with="content=~{this::.main}">
    <div class="main section">
        <th:block sec:authorize="!isAuthenticated()">
            <h1 class="section__header">Welcome to Gundi</h1>
        </th:block>
        <th:block sec:authorize="isAuthenticated()" th:object="${#authentication.principal}">
            <h1 class="section__header" th:text="|Welcome back *{getFullName()}|"></h1>
        </th:block>
        <div class="section__main">
            <div>
                <h2>About Us</h2>
                <th:block th:insert="~{fragments/about}"></th:block>
            </div>
            <div>
                <h2>Contacts</h2>
                <th:block th:insert="~{fragments/contacts}"></th:block>
            </div>
        </div>
    </div>

</html>